#include <windows.h>

#include "lusbk_version.h"

#define VER_COMPANYNAME_STR         "http://libusb-win32.sourceforge.net"
#define VER_FILEDESCRIPTION_STR     "libusbK(lusbk) WDF USB Driver"
#define VER_PRODUCTNAME_STR			RC_FILENAME_STR
#define VER_INTERNALNAME_STR        RC_FILENAME_STR
#define VER_LEGALCOPYRIGHT_YEARS	"2010-2011"
#define VER_LEGALCOPYRIGHT_STR		"\251 T. Robinson " VER_LEGALCOPYRIGHT_YEARS

#define VER_PRODUCTVERSION			RC_VERSION
#define VER_PRODUCTVERSION_STR		RC_VERSION_STR

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
#define VER_FILEOS                  VOS_NT_WINDOWS32
#define VER_FILEFLAGS               (0)

#include "common.ver"
