; BUILD CONFIGURATION FILE
; 
; NOTES:
;	* Type 'make.cmd help' for more information.
;   * It is not required to execute make.cmd from within a WDK build environment.
;	* When make.cmd is executed from within a WDK build environment, it updates
;     WDK_DIR and WDK_DEF_ENV_OPTIONS in this cfg file; use this to quickly
;     configure make.cfg automatically.
;   * If make.cmd cannot locate a required build component it may prompt the user
;     with options to locate them.
;

; WDK SETUP -----------------------------------------------------------
; To download a Microsoft WDK release see:
; http://www.microsoft.com/whdc/devtools/wdk/wdkpkg.mspx 
; The build process cannot continue unless some version of WDK is located.
;
WDK_DIR=Z:\WinDDK\7600.16385.1
WDK_DEF_ENV_OPTIONS=chk x86 WIN7
WDK_BUILD_OPTIONS=/cegZ
WDK_SOURCES_LIST=libusbwK.sys; libusbwK.lib; libusbwK.dll;
NO_OACR=no_oacr

; BUILD ---------------------------------------------------------------
;
BUILD_QUIET=1
BUILD_OUTPUT_BASE_DIR=output

; TARGET_OUTPUT_ABS_DIR is what the TARGETPATH must be set to in the
; sources file. This is a special (more dynamic) setting value that is
; loaded before each target.  The .sources file TARGETPATH must be set
; to this. 
; ie: TARGETNAME = $(G_TARGET_OUTPUT_NAME) 
; and TARGETPATH = $(G_TARGET_OUTPUT_ABS_DIR)
;
TARGET_OUTPUT_ABS_DIR=!G_BUILD_OUTPUT_BASE_ABS_DIR!\!DDKBUILDENV!\!G_TARGET_OUTPUT_FRIENDLYNAME!

; CLEAN ---------------------------------------------------------------
;
; If make.cmd is executed with the 'clean' argument, these directories 
; and files will be recursively cleaned from the dir and subdirs this 
; config file resides in.
;
CLEAN_BIN_EXP=\\Debug\\ \\Release\\ \.pdb$ \.exp$
CLEAN_SRC_EXP=resharper \\obj \\bin\\ \\buildfre \\buildchk \.suo$ \.user$ \.ncb$ \.orig$ \\Debug \\Release \\x64 \\x86 \\testing\\libusbwK.lib \.\\build_env_vars\.lst

; DIST ----------------------------------------------------------------
;
; This is the list of env build settings to build for a distribution set.
; Each comma delimited item represents a distinct set of target binaries
; that will be built for every source file in WDK_SOURCES_LIST when 'dist'
; is used on the commandline.
;
DIST_BUILD_LIST=WXP; x64 WNET; 64 WNET;


; PACKAGE -------------------------------------------------------------
;
PACKAGE_ROOT_NAME=libusbwK
PACKAGE_DIR=package
PACKAGE_ALL_NAME=all
PACKAGE_SRC_NAME=src
PACKAGE_BIN_NAME=bin

; F_PACKAGE_NAME will evaluate to all, src, or bin (see above) depending on
; the operation. F_PACKAGE_VERSION will evaluate to the 'PACKAGE' version
; defined in make.versions.
;
PACKAGE_NAME_FORMAT=!G_PACKAGE_ROOT_NAME!-!F_PACKAGE_NAME!-!F_PACKAGE_VERSION!
PACKAGE_ALL_SUBDIR_FORMAT=!G_PACKAGE_ROOT_NAME!-!F_PACKAGE_VERSION!

; SIGN ----------------------------------------------------------------
;
SIGN_CERT_FILE=!CD!\cert\MSCV-GlobalSign.cer
SIGN_CERT_NAME=Akeo Consulting
SIGN_CERT_TIMESTAMP=/t http://timestamp.globalsign.com/scripts/timstamp.dll

SIGN_CERT_ARGS=sign /v /ac "!G_SIGN_CERT_FILE!" /s my /n "!G_SIGN_CERT_NAME!" !G_SIGN_CERT_TIMESTAMP!
SIGN_CERT_VERIFY_ARGS=verify /kp /v

; FORMATCODE ----------------------------------------------------------
; If make.cmd is executed with the 'formatcode' argument, FORMATCODE_EXE 
; will be executed and FORMATCODE_ARGS will be passed in as an argument. 
; Download astyle at astyle.sourceforge.net.
;
FORMATCODE_EXE=C:\Windows\AStyle.exe
FORMATCODE_STA_OPS=--pad-oper --style=allman --indent=tab --lineend=windows --align-pointer=type
FORMATCODE_ARGS=!G_FORMATCODE_STA_OPS! --recursive *.c *.h;

; MISC ----------------------------------------------------------------
; This will enable log messages for make.cmd.
SCRIPT_DEBUGGING=0

; Month, day and year used in the version header template
_MM_=!DATE:~4,2!
_DD_=!DATE:~7,2!
_YYYY_=!DATE:~10,4!

; Only used to generate a test inf file.
; NOTE: the '^' is only there to escape the '&' for make.cmd.
;
BENCHMARK_DEVICE_HWID=USB\VID_1234^&PID_0001

; Only used to generate a test inf file.
; {6C696275-7362-2D77-696E-33322D574446} is the GUID libusbwK will assign
; if the 'DeviceInterfaceGUIDs' key is not found/invalid.
; To set this key from the inf file, update the line: 
; HKR,,DeviceInterfaceGUIDs, 0x10000,"{your-guid}"
; in the 'LUsbW_Device_HW_AddReg' section.
;
BENCHMARK_DEVICE_GUID={6C696275-7362-2D77-696E-33322D574446}
